body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.about-container {
    text-align: right; /* Align the link to the right */
    margin: 20px;
}

.about-link {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.about-link:hover {
    background-color: #e0e0e0;
}

.container {
    text-align: left;
}

.container img {
    display: block;
    margin: 0 auto;
    width: 20em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}
