body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emphasize{
    font-weight: bold;
    font-style: italic;
}

.list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 500;   
}

.class li{
    color: chocolate;
}

.favorite li a{
    color: brown;
    text-decoration: none;
}

.favorite li a:hover{    
    text-decoration: underline;
}

.neighbor {
    background-color: aqua;
}

p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    color: yellow;
    background-color: black;
    width: fit-content;
}

dd {
    margin: 0 0 10px 20px;
}
